@model IEnumerable<THRF.Models.Model.Service>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<a class="btn btn-default" href="/Service/Create/">Yeni Ekle</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Server Id</th>
            <th>Ad-Soyad</th>
            <th>Tc-Kimlik</th>
            <th>Email</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.SerId</td>
            <td>@item.SerHead</td>
            <td>@item.SerEx</td>
            <td>@item.SerMail</td>

            <td><a href="/Service/Edit/@item.SerId">Düzenle</a> | <a href="/Service/Delete/@item.SerId">Sil</a></td>
        </tr>}



    </tbody>
</table>
